<div class="quienes-somos">
  <h1>NUESTRO APORTE</h1>
  <div class="row">
    <div class="column-1-T">
      <p>Debido a los desastres naturales que afectan a diferentes organizaciones en todo el mundo, hemos decidido modificar nuestra interfaz para contribuir a través de donaciones en nuestras compras y en un apartado exclusivo para este propósito.</p>
      <p>PREVENTLIFE: APOYANDO A LAS ORGANIZACIONES AFECTADAS POR DESASTRES NATURALES</p>
    </div>
  </div>
</div>

<div class="empieza-escribir">
  <h1>¿Quiénes Somos?</h1>
  <div class="row">
    <div class="column-1-I">
      <img src="../../assets/donar.png" class="miniaturas" alt="forestal">
    </div>
    <div class="column-2-T">
      <p>En PreventLife te mostramos diferentes organizaciones afectadas por desastres naturales y recolectamos dinero para apoyar sus esfuerzos de recuperación. Ofrecemos la oportunidad de marcar la diferencia mientras disfrutas de la satisfacción de ayudar. ¡Únete a nosotros en nuestra misión de proteger y reconstruir comunidades afectadas por desastres naturales!</p>
    </div>
  </div>
</div>

<div class="unete-ya">
  <h1>Únete a PreventLife</h1>
  <div class="row">
    <div class="column-2-TU">
      <button mat-raised-button routerLink="/register" routerLinkActive="active">REGÍSTRATE</button>
    </div>
  </div>
</div>
