<mat-toolbar>
    <img class="logo" src="/assets/logo.png" alt="PreventLife">
    <span>PreventLife Admin</span>

    <div class="column-1-T">
    </div>
    <div class="column-2-I">

    <button mat-button routerLink="../admin/organizaciones" class="ms-2">
        Organizaciones
    </button>

    <button mat-button class="ms-2" (click)="irDonaciones()">
        Donaciones
      </button>

    <button mat-button routerLink="/" class="ms-2">Cerrar Sesión</button>
</div>

    <span class="spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>

